
.vs/
SAEA.BaseLibs/bin/
SAEA.BaseLibs/obj/
SAEA.Redis.WebManager/bin/
SAEA.Redis.WebManager/obj/
*.user
SAEA.Redis.WebManager/Properties/PublishProfiles/FolderProfile.pubxml
SAEA.WebRedisManagerForNet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SAEA.WebRedisManagerForNet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SAEA.WebRedisManagerForNet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SAEA.WebRedisManagerForNet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SAEA.WebRedisManagerForNet/bin/Debug/Config/config.json
/bin/
/obj/
