
.vs/
SAEA.BaseLibs/bin/
SAEA.BaseLibs/obj/
SAEA.Redis.WebManager/bin/
SAEA.Redis.WebManager/obj/
*.user
SAEA.Redis.WebManager/Properties/PublishProfiles/FolderProfile.pubxml
SAEA.WebRedisManagerForNet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SAEA.WebRedisManagerForNet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SAEA.WebRedisManagerForNet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SAEA.WebRedisManagerForNet/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SAEA.WebRedisManagerForNet/bin/Debug/Config/config.json
/bin/
/obj/
SAEA.WebRedisManagerForNet/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SAEA.WebRedisManagerForNet/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SAEA.WebRedisManagerForNet/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SAEA.WebRedisManagerForNet/obj/Release/SAEA.WebRedisManagerForNet.csproj.CoreCompileInputs.cache
SAEA.WebRedisManagerForNet/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
SAEA.WebRedisManagerForNet/obj/Debug/SAEA.WebRedisManagerForNet.pdb
SAEA.WebRedisManagerForNet/obj/Debug/SAEA.WebRedisManagerForNet.exe.config
SAEA.WebRedisManagerForNet/obj/Debug/SAEA.WebRedisManagerForNet.exe
SAEA.WebRedisManagerForNet/obj/Debug/SAEA.WebRedisManagerForNet.csprojAssemblyReference.cache
SAEA.WebRedisManagerForNet/obj/Debug/SAEA.WebRedisManagerForNet.csproj.FileListAbsolute.txt
SAEA.WebRedisManagerForNet/obj/Debug/SAEA.WebRedisManagerForNet.csproj.CoreCompileInputs.cache
SAEA.WebRedisManagerForNet/obj/Debug/SAEA.WebRedisManagerForNet.csproj.CopyComplete
SAEA.WebRedisManagerForNet/bin/Debug/System.Xml.XPath.XDocument.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Xml.XPath.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Xml.XmlSerializer.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Xml.XmlDocument.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Xml.XDocument.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Xml.ReaderWriter.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.ValueTuple.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.Timer.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.ThreadPool.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.Thread.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.Tasks.Parallel.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.Tasks.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.Tasks.Dataflow.xml
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.Tasks.Dataflow.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.Overlapped.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Threading.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Text.RegularExpressions.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Text.Encoding.Extensions.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Text.Encoding.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.SecureString.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.Principal.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.Cryptography.X509Certificates.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.Cryptography.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.Cryptography.Encoding.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.Cryptography.Csp.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.Cryptography.Algorithms.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Security.Claims.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.Serialization.Xml.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.Serialization.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.Serialization.Json.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.Serialization.Formatters.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.Numerics.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.InteropServices.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.Handles.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.Extensions.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
SAEA.WebRedisManagerForNet/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Resources.Writer.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Resources.ResourceManager.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Resources.Reader.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Reflection.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Reflection.Extensions.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Reflection.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.ObjectModel.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Numerics.Vectors.xml
SAEA.WebRedisManagerForNet/bin/Debug/System.Numerics.Vectors.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.WebSockets.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.WebSockets.Client.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.WebHeaderCollection.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.Sockets.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.Security.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.Requests.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.Ping.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.NetworkInformation.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.NameResolution.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Net.Http.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Memory.xml
SAEA.WebRedisManagerForNet/bin/Debug/System.Memory.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Linq.Queryable.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Linq.Parallel.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Linq.Expressions.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Linq.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.UnmanagedMemoryStream.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.Pipes.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.MemoryMappedFiles.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.IsolatedStorage.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.FileSystem.Watcher.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.FileSystem.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.FileSystem.DriveInfo.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.FileSystem.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.Compression.ZipFile.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.IO.Compression.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Globalization.Extensions.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Globalization.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Globalization.Calendars.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Dynamic.Runtime.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Drawing.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.Tracing.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.TraceSource.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.Tools.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.StackTrace.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.Process.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.FileVersionInfo.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.Debug.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Diagnostics.Contracts.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Data.Common.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Console.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.ComponentModel.TypeConverter.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.ComponentModel.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.ComponentModel.EventBasedAsync.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.ComponentModel.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Collections.Specialized.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Collections.NonGeneric.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Collections.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Collections.Concurrent.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.Buffers.xml
SAEA.WebRedisManagerForNet/bin/Debug/System.Buffers.dll
SAEA.WebRedisManagerForNet/bin/Debug/System.AppContext.dll
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.WebRedisManagerForNet.pdb
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.WebRedisManagerForNet.exe.config
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.WebRedisManagerForNet.exe
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.Sockets.dll
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.RedisSocket.dll
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.MVC.dll
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.Http.dll
SAEA.WebRedisManagerForNet/bin/Debug/SAEA.Common.dll
SAEA.WebRedisManagerForNet/bin/Debug/Newtonsoft.Json.xml
SAEA.WebRedisManagerForNet/bin/Debug/Newtonsoft.Json.dll
SAEA.WebRedisManagerForNet/bin/Debug/netstandard.dll
SAEA.WebRedisManagerForNet/bin/Debug/Microsoft.Win32.Primitives.dll
SAEA.WebRedisManagerForNet/bin/Debug/Html/Rename.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/Remove.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/RedisAdd.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/Keys.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/ItemsView.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/IndexContent.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/Index.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/favicon.svg
SAEA.WebRedisManagerForNet/bin/Debug/Html/favicon.ico
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/lay/modules/layui/global.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/requestpamars.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/redis.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/redis.data.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/redis.data.item.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/redis.chart.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/npm.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/layui.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/layer.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/util.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/table.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/laytpl.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/laypage.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/layer.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/jquery.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/form.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/element.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/lay/modules/code.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/echarts.common.min.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/css/modules/layer/default/loading-2.gif
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/css/modules/layer/default/loading-1.gif
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/css/modules/layer/default/layer.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/css/modules/layer/default/icon.png
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/css/modules/code.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/bootstrap.min.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/js/bootstrap.js
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/font/iconfont.woff
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/layui.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/global.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap.min.css.map
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap.min.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap.css.map
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap-theme.min.css.map
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap-theme.min.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap-theme.css.map
SAEA.WebRedisManagerForNet/bin/Debug/Html/Content/css/bootstrap-theme.css
SAEA.WebRedisManagerForNet/bin/Debug/Html/Chart.html
SAEA.WebRedisManagerForNet/bin/Debug/Html/AddItem.html
SAEA.WebRedisManagerForNet/bin/Debug/v3.2.1.1.zip
